.admin-posts {
    background-color: $color-white;
    padding: 40px 20px;

    .container {
        width: 100%;
        height: auto;

        .post-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: "post-1" "post-2" "post-3";
            gap: 40px;

            @include md {
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "post-1" "post-2 post-3";
            }

            @include lg {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "post-1 post-2 post-3";
            }

            .post-1 {
                grid-area: item-1;
            }

            .post-2 {
                grid-area: item-2;
            }

            .post-3 {
                grid-area: item-3;
            }

            .post-title {
                font-family: $font-playfair;
                font-weight: $font-weight-bold;
                font-size: 18px;
                color: $color-dark-2;
            }

            .post-text {
                font-family: $font-poppins;
                color: $color-dark-2;
                font-size: 24px;
                font-weight: $font-weight-bold;
            }

            .post-origin {
                margin-top: 20px;
                font-family: $font-roboto;
                color: $color-dark-3;
                font-size: 16px;
                font-weight: $font-weight-regular;
            }
        }
    }
}
