.allproducts {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "product" "product" "product" "product";
        gap: 10px;
        padding-bottom: 200px;

        .product {
            padding-left: 10%;
            padding-top: 200px;

            .product-title {
                text-align: left;
                font-family: $font-poppins;
                font-weight: $font-weight-semibold;
                font-size: 20px;

                .link {
                    color: $color-dark-2;
                    text-decoration: none;
                }
            }

            .price {
                margin-top: 20px;
                font-family: $font-poppins;
                font-weight: $font-weight-semibold;
                font-size: 18px;
                color: $color-dark-2;
            }
        }
    }
}
