<section class="admin-posts">
       <div class="container">
           <div class="post-grid">
               <div class="post-1">
                    <a href="#" class="post-item">
                        <img src="..\images\placeholders\369x310.svg" />
                        <div class="post-body">
                            <div class="post-title">Table lamp 1562 LTG modal</div>
                            <div class="post-text">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                            <div class="post-origin">Post by: Admin     Comments 13</div>
                        </div>
                    </a>
               </div>
            <div class="post-2">
                <a href="#" class="post-item">
                    <img src="..\images\placeholders\369x310.svg" />
                    <div class="post-body">
                        <div class="post-title">Table lamp 1562 LTG modal</div>
                        <div class="post-text">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                        <div class="post-origin">Post by: Admin     Comments 13</div>
                    </div>
                </a>
            </div>
            <div class="post-3">
                <a href="#" class="post-item">
                    <img src="..\images\placeholders\369x310.svg" />
                    <div class="post-body">
                        <div class="post-title">Table lamp 1562 LTG modal</div>
                        <div class="post-text">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                        <div class="post-origin">Post by: Admin     Comments 13</div>
                    </div>
                </a>
            </div>
           </div>
       </div>
</section>